<div *ngIf="movie$ | async as movie" class="movie-details container-fluid d-flex justify-content-center align-items-center flex-wrap my-5 p-5">
    <div class="col-md-4">
        <img src="{{ movie.Poster }}" alt="{{ movie.Title }}">
    </div>
    <div class="col-md-6">
        <div class="mt-3">
            <h1>{{ movie.Title }}</h1> 
        </div>
        <p><strong>Year:</strong> {{ movie.Year }}</p>
        <p><strong>Movie genre:</strong> {{ movie.Genre }}</p>
        <p><strong>IMDB Rating:</strong> {{ movie.imdbRating }}</p>
        <p>{{ movie.Plot }}</p>
        <button [routerLink]="['/']" class="btn btn-danger">Go back</button>
    </div>
</div>
